body {
  background-color: lightgray;
}
th {
  font-size: 14px;
  text-align: center;
}
td {
  text-align: center;
  font-size: 14px;
}

.jumbotron,
#submitButton {
  background-color: crimson;
  color: white;
}
button {
  font-size: 20px !important;
  text-align: center !important;
  background-color: crimson !important;
  border: none !important;
}
button:hover {
  font-weight: 500;
}

.card-header {
  font-weight: 800;
  color: crimson;
}
